body {
 font-family: 'Times New Roman', Times, serif;
 margin: 20px;
 background-color: aliceblue;
}
h1, h2 {
 color: #333;
}
ul {
 list-style-type: none;
 padding: 0;
}
li {
 margin-bottom: 10px;
}
/* Define a basic styling for the image container */
.image-container {
 display: flex;
 justify-content: space-evenly;
 max-width: 800px; /* Adjust the max-width based on your design */
 margin: auto; /* Center the container */
}
/* Style for each individual image container */
.image-container a {
 position: relative;
 text-decoration: none;
 display: inline-block; /* Ensure block-level layout for the anchor */
}

/* Style for each individual image */
.image-container img {
 width: 100%; /* Set the width to 100% to match the container size */
 height: auto; /* Auto-adjust height to maintain the aspect ratio */
 margin-right: 16px; /* Add some spacing between images */
 transition: transform 0.3s; /* Add a smooth transition effect */
 display: block; /* Ensure block-level layout for the image */
}

/* Style for the text overlay */
.image-container .overlay {
position: absolute;
 top: 0;
 left: 0;
 width: 100%; /* Set the width to 100% to match the container size */
 height: 100%; /* Set the height to 100% to match the container size */
 display: flex;
align-items: center;
 justify-content: center;
 opacity: 0;
 background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
 color: #fff; /* Text color */
 transition: opacity 0.3s; /* Add a smooth transition effect */
 pointer-events: none; /* Ensure the overlay doesn't block interactions with the 
underlying image */
}
/* Hover effect on images */
.image-container a:hover .overlay {
opacity: 1;
}
/* Style for the image links */
.image-container a {
 text-decoration: none; /* Remove underlines from links */
color: inherit; /* Inherit text color from the parent */
}
